---
import { Icon } from "astro-icon";
import { ThemeSwitch } from "astro-color-scheme";
---

<div>
  <ThemeSwitch strategy="button">
    <button class="p-2 rounded">
      <span class="sr-only">Toggle Theme</span>
      <Icon class="hidden dark:block w-6 h-6 text-yellow-500" name="heroicons-outline:sun" />
      <Icon class="block dark:hidden w-6 h-6 text-blue-500" name="heroicons-outline:moon" />
    </button>
  </ThemeSwitch>
</div>
